<div>
    <h1>Products</h1>
    <form id="productForm">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>

        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required>

        <label for="code">Code:</label>
        <input type="text" id="code" name="code" required>

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" min="1" required>

        <label for="stock">Stock:</label>
        <input type="number" id="stock" name="stock" min="1" required>
        
        <label for="category">Category:</label>
        <input type="text" id="category" name="category" required>

        <button type="submit">Submit</button>
    </form>
    <div id="productsList">
        {{#each products}}
            <div class="product" dataID="{{this._id}}">
                <p>Name: <strong>{{this.title}}</strong></p>
                <p>Price: ${{this.price}}</p>
                <p>Description: {{this.description}}</p>
                <a href="/products/{{this._id}}">View Details</a>
                <button class="addToCart" data-id="{{this._id}}">Add to cart</button>
                <button class="deleteBtn">Delete</button>
            </div>
        {{/each}}
    </div>
    <div>
        {{#if pagination.totalPages}}
            <div class="pagination">
                {{#if pagination.prevPage}}
                    <a href="/?page={{pagination.prevPage}}&limit=10">Prev</a>
                {{/if}}
                {{#if pagination.prevPage}}
                    <a href="/?page={{pagination.nextPage}}&limit=10">{{pagination.prevPage}}</a>
                {{/if}}
                <strong>{{pagination.page}}</strong>
                {{#if pagination.nextPage}}
                    <a href="/?page={{pagination.nextPage}}&limit=10">{{pagination.nextPage}}</a>
                {{/if}}
                {{#if pagination.nextPage}}
                    <a href="/?page={{pagination.nextPage}}&limit=10">Next</a>
                {{/if}}
            </div>
        {{else}}
            <p>No products available.</p>
        {{/if}}
    </div>
</div>
<script src="/js/index.js"></script>